In [1]:
import numpy as np
import pandas as pd

In [6]:
data_path="D:\\Projects\\price_history\\data\\Delhi\\"

In [10]:
# for i in range(2014,2023):
#     print("dl_"+str(i)+"=pd.read_csv(data_path+'prices_delhi_"+str(i)+".csv')")

In [9]:
dl_2014=pd.read_csv(data_path+'prices_delhi_2014.csv')
dl_2015=pd.read_csv(data_path+'prices_delhi_2015.csv')
dl_2016=pd.read_csv(data_path+'prices_delhi_2016.csv')
dl_2017=pd.read_csv(data_path+'prices_delhi_2017.csv')
dl_2018=pd.read_csv(data_path+'prices_delhi_2018.csv')
dl_2019=pd.read_csv(data_path+'prices_delhi_2019.csv')
dl_2022=pd.read_csv(data_path+'prices_delhi_2022.csv')

In [17]:
df=pd.concat([dl_2014,dl_2015,dl_2016,dl_2017,dl_2018,dl_2019,dl_2022])

In [19]:
df.describe()

,1,2,3,4,5,6,7,8,9,10,...,13,14,15,16,17,18,19,20,21,22
count,2886.000000,2486.000000,2886.000000,2886.000000,2886.000000,2886.000000,2886.000000,2885.000000,2886.000000,2886.000000,...,2886.000000,2886.000000,2886.000000,2095.000000,2886.000000,2886.000000,2886.000000,2886.000000,2886.000000,2885.000000
mean,32.064103,21.197908,24.022869,76.323285,102.139640,105.331601,95.295565,81.645754,38.554401,42.564796,...,102.339570,111.621275,127.256410,100.582339,49.759529,226.680180,18.501733,22.212405,32.174636,35.772617
std,2.346807,2.197733,2.248396,16.622273,22.416792,23.008804,9.631960,9.597625,3.235042,3.878813,...,28.520401,27.557930,33.602675,27.038845,5.623580,15.211961,1.878224,7.143025,13.436389,13.198091
min,26.000000,18.000000,20.000000,46.000000,72.000000,65.000000,78.000000,64.000000,27.000000,34.000000,...,74.000000,81.000000,97.000000,75.000000,36.000000,188.000000,16.000000,11.000000,19.000000,12.000000
25%,30.000000,19.000000,22.000000,71.000000,84.000000,86.000000,86.000000,74.000000,37.000000,39.000000,...,85.000000,94.000000,106.000000,78.000000,46.000000,215.000000,17.000000,17.000000,22.000000,26.000000
50%,32.000000,20.000000,24.000000,73.000000,97.000000,105.000000,96.000000,80.000000,39.000000,42.000000,...,91.000000,100.000000,110.000000,88.000000,51.000000,231.000000,18.000000,21.000000,28.000000,33.000000
75%,34.000000,23.000000,26.000000,79.000000,110.000000,117.000000,104.000000,89.000000,40.000000,46.000000,...,107.000000,121.000000,132.000000,123.000000,54.000000,240.000000,20.000000,27.000000,36.000000,43.000000
max,36.000000,26.000000,29.000000,144.000000,182.000000,177.000000,115.000000,101.000000,44.000000,50.000000,...,192.000000,198.000000,224.000000,181.000000,60.000000,251.000000,24.000000,45.000000,118.000000,92.000000

In [20]:
df.to_csv("D:\\Projects\\price_history\\data\\"+"prices_DELHI.csv")